In [1]:
import pandas as pd
filePath="myDataset/Dataset_articles_NoID.csv"
data=pd.read_csv(filePath)

In [6]:
data.describe()

,URL,Title,Summary,Contents,Date,Author(s),Category,Tags
count,313320,313320,313140,307763,313320,312499,313320,313320
unique,290282,288833,288922,284633,252777,19087,39,245322
top,https://laodong.vn/cong-doan/cuoi-thang-nhieu-...,Dự báo thời tiết 10 ngày tới ở cả ba miền,"Tuyển sinh năm 2022, nhiều trường đại học trên...",Giá vàng trong nước Nguồn: Công ty CP Dịch vụ...,"Thứ bảy, 03/04/2021 07:00 (GMT+7)",Thanh Hà,Xã hội,['Hà Nội']
freq,5,69,49,47,14,5297,58776,1477

In [3]:
filteredDF=data.Contents
filteredDF = filteredDF.dropna()
filteredDF.to_csv('/colabDrive/MyDrive/colabDrive/ContentsOnly.csv')

In [4]:
filteredDF.describe()

count                                                307763
unique                                               284633
top       Giá vàng trong nước  Nguồn: Công ty CP Dịch vụ...
freq                                                     47
Name: Contents, dtype: object

In [ ]:
#Split Paragraphs into Sentences

In [2]:
import pandas as pd
filename="myDataset/ContentsOnly.csv"
data=pd.read_csv(filename)

In [3]:
data

        Unnamed: 0                                           Contents
0                0  Những ngày vừa qua, trên trang Facebook chính ...
1                1  Theo thông tin từ Cục Thuế TP.HCM, hiện cơ qua...
2                2  CNLĐ mong muốn sớm được tiếp cận với nhà ở xã ...
3                3  Hoàn công nhà ở là một thủ tục hành chính tron...
4                4  Đi dọc đường Lê Văn Lương kéo dài xuống khu Dư...
...            ...                                                ...
307758      313303  Đoàn cứu trợ đã trực tiếp về huyện Vĩnh Linh v...
307759      313304  Đồng chí Phạm Anh Tuấn cũng cho biết: Chiều qu...
307760      313306  Số tiền trên được trích từ nguồn Quỹ Tấm lòng ...
307761      313307  Theo đó,  Quỹ TLV Lao Động quyết định hỗ trợ 6...
307762      313309  Để giúp CNVC-LĐ và nhân dân 6 tỉnh Miền Trung ...

[307763 rows x 2 columns]

In [4]:
import nltk

def split_paragraph_into_sentences(paragraph):
    # # Ensure NLTK data is downloaded
    # nltk.download('punkt')
    
    # Use NLTK's sentence tokenizer
    sentences = nltk.tokenize.sent_tokenize(paragraph)
    
    return sentences

In [5]:
# Create a new list for sentences
sentences_list = []

# Apply the function to each paragraph and append the result to the list
for i, row in data.iterrows():
    sentences = split_paragraph_into_sentences(row['Contents'])
    for sentence in sentences:
        sentences_list.append(sentence)

# Convert the list into a DataFrame
data = pd.DataFrame(sentences_list, columns=['Sentences'])

In [6]:
output_file_path="myDataset/sentenceOnly.csv"
data.to_csv(output_file_path, index=False)

In [7]:
data

                                                 Sentences
0        Những ngày vừa qua, trên trang Facebook chính ...
1        Sau đó, một số trang thông tin và mạng xã hội ...
2        Trước thông tin này, ông Đoàn Kim Đình - Chủ t...
3        Qua xác minh, khu đất Ngọc Trinh chụp hình và ...
4        Nhưng đây không phải là đất xây dựng homestay ...
...                                                    ...
4749815                 ĐT: 08.35171402; fax: 08.35171407.
4749816  Hoặc chuyển khoản về Quỹ Xã hội từ thiện Tấm l...
4749817  Báo Lao Động, Quỹ TLV Lao Động chân thành cảm ...
4749818                                         * LĐLĐ TP.
4749819  Hồ Chí Minh: 500 triệu đồng * Cty CP Bóng đèn ...

[4749820 rows x 1 columns]

In [10]:
# # Assuming df is your DataFrame and 'column_name' is the name of the column you want to search in
# mask = data['Sentences'].str.contains('“', na=False)

# # This will give you a DataFrame with only the rows where 'column_name' contains '“'
# filtered_df = data[mask]
# filtered_df

In [ ]:
#Cleaning the dataset of odd characters

In [13]:
data['Sentences'].loc[21]

'Chính vì hoạt động kinh doanh ọp ẹp như vậy nên việc phong tỏa hóa đơn của 2 doanh nghiệp nói trên đến nay\xa0cũng “không ăn thua” gì.'

In [14]:
data['Sentences'] = data['Sentences'].str.replace(u'\xa0', u' ')
data['Sentences'] = data['Sentences'].str.replace(u'“', u'"')
data['Sentences'] = data['Sentences'].str.replace(u'”', u'"')

In [19]:
data['Sentences'].loc[21]

'Chính vì hoạt động kinh doanh ọp ẹp như vậy nên việc phong tỏa hóa đơn của 2 doanh nghiệp nói trên đến nay cũng "không ăn thua" gì.'

In [20]:
output_file_path="myDataset/CleanedDatasetStep1.csv"
data.to_csv(output_file_path, index=False)

In [ ]:
#Remove randomly 50% of the accents

In [21]:
import random
import unidecode

def randomly_remove_accents(text, probability=0.5):
    new_text = ""
    for char in text:
        if random.random() < probability:
            new_char = unidecode.unidecode(char)
        else:
            new_char = char
        new_text += new_char
    return new_text

In [22]:
data['AccentlessSentences'] = data['Sentences'].apply(lambda x: randomly_remove_accents(str(x)))

In [7]:
data

,URL,Title,Summary,Contents,Date,Author(s),Category,Tags
count,313320,313320,313140,307763,313320,312499,313320,313320
unique,290282,288833,288922,284633,252777,19087,39,245322
top,https://laodong.vn/cong-doan/cuoi-thang-nhieu-...,Dự báo thời tiết 10 ngày tới ở cả ba miền,"Tuyển sinh năm 2022, nhiều trường đại học trên...",Giá vàng trong nước Nguồn: Công ty CP Dịch vụ...,"Thứ bảy, 03/04/2021 07:00 (GMT+7)",Thanh Hà,Xã hội,['Hà Nội']
freq,5,69,49,47,14,5297,58776,1477

In [24]:
data.to_csv('myDataset/fullDataset.csv', index = False)

In [ ]:
#remove duplicate

In [25]:
data.describe()

       Sentences AccentlessSentences
count    4749820             4749820
unique   4036379             4649488
top           2.                  2.
freq        7271                7271

In [26]:
data = data.drop_duplicates(subset=['Sentences'])

In [27]:
data.describe()

                                                Sentences AccentlessSentences
count                                             4036379             4036379
unique                                            4036379             4036352
top     Những ngày vừa qua, trên trang Facebook chính ...        Xin cam on".
freq                                                    1                   2

In [31]:
data.to_csv('myDataset/refinedFullDataset.csv', index=False)

In [30]:
data

,Sentences,AccentlessSentences
0,"Những ngày vừa qua, trên trang Facebook chính ...","Những ngày vua qua, tren trang Facebook chính ..."
1,"Sau đó, một số trang thông tin và mạng xã hội ...","Sau do, một so trang thông tin va mang xã hội ..."
2,"Trước thông tin này, ông Đoàn Kim Đình - Chủ t...","Truớc thong tin nay, ong Doan Kim Đình - Chu t..."
3,"Qua xác minh, khu đất Ngọc Trinh chụp hình và ...","Qua xác minh, khu dat Ngọc Trinh chup hình và ..."
4,Nhưng đây không phải là đất xây dựng homestay ...,Nhung đây khong phải la đat xây dung homestay ...
...,...,...
4749810,Để giúp CNVC-LĐ và nhân dân 6 tỉnh Miền Trung ...,Dể giup CNVC-LD va nhan dân 6 tinh Mien Trung ...
4749813,"Tại TP Hồ Chí Minh: 43 Hoa Đào, quận Phú Nhuận...","Tai TP Ho Chí Minh: 43 Hoa Đao, quan Phu Nhuan..."
4749817,"Báo Lao Động, Quỹ TLV Lao Động chân thành cảm ...","Bao Lao Dộng, Quy TLV Lao Đong chan thành cam ..."
4749818,* LĐLĐ TP.,* LDLĐ TP.
4749819,Hồ Chí Minh: 500 triệu đồng * Cty CP Bóng đèn ...,Hồ Chi Minh: 500 triệu đồng * Cty CP Bong den ...