In [1]:
import pandas as pd

# Load the csv file
df = pd.read_csv('myDataset/refinedFullDataset.csv')

In [3]:

# Get the last 10000 rows
df_tail = df.tail(5)

# Save it to another csv file
df_tail.to_csv('myDataset/superMiniTestDataset.csv', index=False)

In [4]:
df_tail

,Sentences,AccentlessSentences
4036374,Để giúp CNVC-LĐ và nhân dân 6 tỉnh Miền Trung ...,Dể giup CNVC-LD va nhan dân 6 tinh Mien Trung ...
4036375,"Tại TP Hồ Chí Minh: 43 Hoa Đào, quận Phú Nhuận...","Tai TP Ho Chí Minh: 43 Hoa Đao, quan Phu Nhuan..."
4036376,"Báo Lao Động, Quỹ TLV Lao Động chân thành cảm ...","Bao Lao Dộng, Quy TLV Lao Đong chan thành cam ..."
4036377,* LĐLĐ TP.,* LDLĐ TP.
4036378,Hồ Chí Minh: 500 triệu đồng * Cty CP Bóng đèn ...,Hồ Chi Minh: 500 triệu đồng * Cty CP Bong den ...

In [4]:
df = pd.read_csv('myDataset/biggerTestDataset.csv')
df.describe()

,Sentences,AccentlessSentences
count,50000,50000
unique,50000,50000
top,"Dù cô giáo đúng sai thế nào, nhưng hành động c...","Dù co giáo dung sai thế nào, nhung hành động c..."
freq,1,1