In [1]:
import pandas as pd

filePath="myDataset/fullDataset.csv"
# filePath="output.csv"

data=pd.read_csv(filePath)

In [2]:
data.describe()

       Sentences AccentlessSentences
count    4749820             4749820
unique   4037330             4649842
top           2.                  2.
freq        7271                7271

In [3]:
data = data.drop_duplicates(subset=['Sentences'])

In [4]:
data.describe()

                                                Sentences AccentlessSentences
count                                             4037330             4037330
unique                                            4037330             4037302
top     Những ngày vừa qua, trên trang Facebook chính ...           DIEU THUY
freq                                                    1                   3

In [5]:
data.to_csv('myDataset/refinedFullDataset.csv')